#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require "compass"

Compass.add_project_configuration 'compass.rb'


compile '/css/*' do
  filter :sass, Compass.sass_engine_options
end

compile '/us/help*' do
  filter :erb
  layout 'help_us'
end

compile '/cn/workflow/*' do
  filter :erb
  layout 'workflow_cn'
end

compile '/us/workflow/*' do
  filter :erb
  layout 'workflow_us'
end

compile '/cn/help/*' do
  filter :erb
  layout 'help_cn'
end

compile '/cn/helpoem/*' do
  filter :erb
  layout 'help_cn'
end

compile '/cn/developer/*' do
  filter :erb
  layout 'developer_cn'
end

compile '/cn/calendar/*' do
  filter :erb
  layout 'calendar_cn'
end

compile '/cn/chat/*' do
  filter :erb
  layout 'chat_cn'
end

compile '/us/chat/*' do
  filter :erb
  layout 'chat_us'
end

compile '/cn/otask/*' do
  filter :erb
  layout 'otask_cn'
end

compile '/us/otask/*' do
  filter :erb
  layout 'otask_us'
end

compile '/cn/omail/*' do
  filter :erb
  layout 'omail_cn'
end

compile '/cn/drive/*' do
  filter :erb
  layout 'drive_cn'
end

compile '/us*' do
  filter :erb
  layout 'steedos_us'
end

compile '/cn*' do
  filter :erb
  layout 'steedos_cn'
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'steedos_cn'
  end
end

route '/css/*' do
  '/website' + item.identifier.chop + '.css' # so that the /assets/style/screen/ item is compiled to /assets/style/screen.css
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
