<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>企业网盘 - <%= @item[:title] %> - 华炎云盘</title>
  <link rel="shortcut icon" href="/website/img/drive/AppIcon76x76.png" />
  <meta name="Description" content="华炎云盘是一款深受公司员工喜爱的文件备份、共享与协作解决方案。提供桌面同步客户端，可以将您的本地文件夹实时自动备份到云端，并自动为您保存文件历史版本。您可以与他人共享，还可以随时使用手机访问文件。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            
  <link href="/website/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet"/>

  <script src="/website/libs/jquery.min.js" type="text/javascript"></script>
            
  <link href="/website/libs/semantic.css" rel="stylesheet"/>
  <script src="/website/libs/semantic.js" type="text/javascript"></script>

  <link href="/website/libs/spacelab.min.css" rel="stylesheet"/>
  <link href="/website/libs/spacelab.fix.css" rel="stylesheet"/>
  <link href="/website/css/odoo/website.css" id="website_css" rel="stylesheet"/>
  <link href="/website/css/steedos.css" id="steedos_css" rel="stylesheet"/>

  <style type="text/css">
    html, body {
      background-color: #FFFFFF;
    }
    .top.secondary.menu {
      margin-top: 1em;
    }
    image {
      max-width: 100%;
    }
  </style>

  <script>
  $(document)
    .ready(function() {
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });
      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active')
          ;
        })
      ;
    })
  ;
  </script>
</head>
<body>
 

<div class="ui one column grid">
  <div class="mobile only column"> 
    <div class="ui fixed inverted menu" id="topbar">
      <div class="ui dropdown item">
        <i class="sidebar icon"></i> 华炎云
        <div class="ui menu">
          <%= link_to_unless_current "审批王", "/cn/workflow", allow_recursive: true %>
          <%= link_to_unless_current "享聊", "/cn/chat", allow_recursive: true %>
          <%= link_to_unless_current "云盘", "/cn/drive", allow_recursive: true %>
          <%= link_to_unless_current "任我行", "/cn/otask", allow_recursive: true %>
        </div>
      </div>
      <div class="right menu">
        <a class="item" href="#"><i class="phone icon"></i>400-820-1612</a>
      </div>
    </div>

  </div>
  <div class="computer tablet only column"> 
    <div class="ui fixed inverted menu" id="topbar">
        <a class="header item" href="/cn/"><i class="cloud icon"></i></a>
        <%= link_to_unless_current "审批王", "/cn/workflow", allow_recursive: true %>
        <%= link_to_unless_current "享聊", "/cn/chat", allow_recursive: true %>
        <%= link_to_unless_current "云盘", "/cn/drive", allow_recursive: true %>
        <%= link_to_unless_current "任我行", "/cn/otask", allow_recursive: true %>
        <div class="right menu">
          <a class="item" href="#"><i class="phone icon"></i>400-820-1612</a>
          <a class="item" href="http://chat.steedos.com/channel/steedos-support" target="_blank">在线客服</a>
        </div>
    </div>
  </div>


  <div class="mobile only column"> 

    <div class="ui top secondary menu" id="navbar" style="border-bottom: 1px solid #CCC">

      <a class="header item" href="/cn/drive">
        <h2 class="ui header" style="font-size: 1.4em">
          <img src="/website/img/drive/AppIcon76x76.png" class="ui mini image">
          <div class="ui content">华炎云盘</div>
        </h2>
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          <i class="chevron down icon"></i>
          <div class="ui menu">
              <%= link_to_unless_current "特色", "/cn/drive/" %>
              <%= link_to_unless_current "共享", "/cn/drive/features/sharing", allow_recursive: true %>
              <%= link_to_unless_current "协作", "/cn/drive/features/collaboration", allow_recursive: true %>
              <%= link_to_unless_current "移动", "/cn/drive/features/mobile", allow_recursive: true %>
              <%= link_to_unless_current "同步", "/cn/drive/features/backup", allow_recursive: true %>
              <%= link_to_unless_current "控制", "/cn/drive/features/security", allow_recursive: true %>

              <%= link_to_unless_current "下载", "/cn/drive/downloads", allow_recursive: true %>
              <%= link_to_unless_current "帮助", "/cn/help/drive", allow_recursive: true %>
              <div class="item">
                <a class="ui primary button" target="_blank" href="https://www.steedos.com/system/steedos/?app=drive">登录</a>
              </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="computer tablet only column"> 

    <div class="ui top secondary pointing menu" id="navbar">
      <a class="header item" href="/cn/drive">
        <h2 class="ui header" style="font-size: 1.4em">
          <img src="/website/img/drive/AppIcon76x76.png" class="ui mini image">
          <div class="ui content">华炎云盘</div>
        </h2>
      </a>
      <div class="right menu">
        <%= link_to_unless_current "特色", "/cn/drive/" %>
        <%= link_to_unless_current "共享", "/cn/drive/features/sharing", allow_recursive: true %>
        <%= link_to_unless_current "协作", "/cn/drive/features/collaboration", allow_recursive: true %>
        <%= link_to_unless_current "移动", "/cn/drive/features/mobile", allow_recursive: true %>
        <%= link_to_unless_current "同步", "/cn/drive/features/backup", allow_recursive: true %>
        <%= link_to_unless_current "控制", "/cn/drive/features/security", allow_recursive: true %>

        <%= link_to_unless_current "下载", "/cn/drive/downloads", allow_recursive: true %>
        <%= link_to_unless_current "帮助", "/cn/help/drive", allow_recursive: true %>
        <div class="item">
          <a class="ui primary button" target="_blank" href="https://www.steedos.com/system/steedos/?app=drive">登录</a>
        </div>
      </div>

    </div>

  </div>
</div>


<%= yield %>


<div class="ui inverted vertical footer segment" style="margin: 3em 0em 0em; padding: 3em 0em;">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h4 class="ui inverted header">联系我们</h4>
          <div class="ui inverted link list">
            <a class="item" href="http://chat.steedos.com/channel/steedos-support" target="_blank">在线客服</a>
            <span class="item">热线：400-820-1612</span>
            <span class="item">邮箱：support@steedos.com</span>
            <span class="item">QQ：1471093381</span>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">下载客户端</h4>
          <div class="ui inverted link list">
            <a class="item" href="http://itunes.apple.com/cn/app/hua-yan-yun-pan-si-you-yunno/id955295549?l=zh&ls=1&mt=8" target="_blank">iPhone / iPad</a>
            <a class="item" href="http://oss.steedos.com/apps/drive/android/drive.apk" target="_blank">Android</a>
            <a class="item" href="http://oss.steedos.com/apps/drive/windows/drive.exe" target="_blank">Windows</a>
            <a class="item" href="http://oss.steedos.com/apps/drive/mac/drive.pkg" target="_blank">Mac</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">关于华炎云盘</h4>
          <div class="ui inverted link list">
            <span class="item">华炎云盘是一款深受公司员工喜爱的文件备份、共享与协作解决方案。提供桌面同步客户端，可以将您的本地文件夹实时自动备份到云端，并自动为您保存文件历史版本。您可以与他人共享，还可以随时使用手机访问文件。</span>
          </div>
        </div>
      </div>

      <div class="ui inverted section divider"></div>

      <div class="ui horizontal inverted small divided link list">
          <span>© 华炎软件. 保留所有权利. </span>
          <a class="ui item" href="/cn/legal/terms/" target="_steedos_terms">条款与约定</a>
          <a class="ui item" href="/cn/legal/privacy/" target="_steedos_privacy">隐私保护</a>
      </div>
    </div>
</div>



</body>
</html>
