<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <title><%= @item[:title] %></title>
  <link rel="shortcut icon" href="/website/img/otask/AppIcon76x76.png" />
  <meta name="Description" content="oTask is a team task management software that helps you and your team connect and get work done from anywhere on any device. With oTask, you can assign tasks and projects to your team members, Share your calendar, and communicate better with your team. ">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"  >
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"  >
  <meta content="initial-scale=1" name="viewport"/>
            
  <link href="/website/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet"/>
            
  <link href="/website/static/src/css/bootswatch/spacelab.min.css" rel="stylesheet"/>
  <link href="/website/static/src/css/bootswatch/spacelab.fix.css" rel="stylesheet"/>
  <link href="/website/css/odoo/website.css" id="website_css" rel="stylesheet"/>
  <link href="/website/css/steedos.css" id="steedos_css" rel="stylesheet"/>


  <script src="/website/js/odoo/es5-shim.min.js" type="text/javascript"></script>
  <script src="/website/js/odoo/underscore.js" type="text/javascript"></script>
  <script src="/website/js/odoo/underscore_string.js" type="text/javascript"></script>
  <script src="/website/js/odoo/jquery.js" type="text/javascript"></script>
  <script type="text/javascript">
      // Bootstrap and jQuery UI conflicts
      $.fn.bstooltip = $.fn.tooltip;
      $.fn.bsbutton = $.fn.button;
  </script>

  <script src="/website/js/odoo/qweb2.js" type="text/javascript"></script>
  <script src="/website/js/odoo/openerpframework.js" type="text/javascript"></script>

  <script src="/website/js/odoo/website.js" type="text/javascript"></script>
  
  <script type="text/javascript" src="/website/js/odoo/website_snippets_animation.js"></script>
  <script src="/website/js/odoo/bootstrap.js" type="text/javascript"></script>

  <script src="/website/js/steedos/signup.js" type="text/javascript"></script>

</head>
<body>
 
<div id="wrapwrap">
  <header>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
            <button data-toggle="collapse" type="button" class="navbar-toggle" data-target=".navbar-top-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/us/otask" class="navbar-brand">
            <img src="/website/img/otask/AppIcon76x76.png" width="30" height="30" class="logo"><span style="padding-top: 3px;">&nbsp;&nbsp;oTask</span></a>
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse">
          <ul class="nav navbar-nav navbar-right" id="top_menu">                              
                 

            <%= nav "Features", "us/otask" %>
            <%= nav "Pricing", "us/otask/pricing" %>
            <%= nav "Downloads", "us/otask/downloads" %>
            <li class="divider"></li>
            <li>
                <a href="/system/steedos/#register">
                    <b>Sign Up</b>
                </a>
            </li>
            <li>
                <a href="/system/steedos/">
                    <b>Sign In</b>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div id="wrap" class="oe_structure oe_empty">
  <%= yield %>
    </div>
  </main>
  <footer>
    <div class="container hidden-print" id="footer_container">
        <div class="row">
            <div class="col-md-3" name="product">
                <h4>SteedOS Business Apps</h4>
                <ul class="list-unstyled" name="products">
                    <li><a href="/us/otask">oTask</a></li>
                    <li><a href="/us/workflow">oWorkflow</a></li>
                    <li><a href="/us/chat">oChat</a></li>
                </ul>
            </div>
            <div class="col-md-3" name="info">
                <h4 name="info_title">Contact Us</h4>
                <ul class="list-unstyled">
                    <li><a href="/us/steedos/contactus">Contact Us</a></li>
                </ul>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone"></i> <span>(0086)400-820-1612</span></li>
                    <li><i class="fa fa-envelope"></i>  <span>support@steedos.com</span></li>
                </ul>
                <h2>
                    
                </h2>
            </div>
            <div class="col-md-5 col-lg-offset-1" name="about_us">
                <div>
                    <h4>
                        <span>About oTask</span>
                        <small> - <a href="/us/otask/">About oTask</a></small>
                    </h4>
                    <p> oTask is a team task management software that helps you and your team connect and get work done from anywhere on any device. With oTask, you can assign tasks and projects to your team members, Share your calendar, and communicate better with your team. 
                    </p>
                </div>
                <ul class="list-inline js_language_selector mt16"><li><a href="/us/otask/" >English</a></li><li><a href="/cn/otask/" >简体中文</a></li></ul>
                
            </div>
        </div>
    </div>
    <div class="container mt16 mb8">

        <div class="pull-left text-muted">2014 © HotLong Software. All rights reserverd. 
                <a href="/us/legal/terms/" target="_steedos_terms">Terms of use</a> | 
                <a href="/us/legal/privacy/" target="_steedos_privacy">Privacy policy</a>
        </div>
    </div>
  </footer>
</div>


</body>
</html>
