<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>审批王 - <%= @item[:title] %></title>
  <link rel="shortcut icon" href="/website/img/workflow/AppIcon76x76.png" />
  <meta name="Description" content="审批王是全新的企业级在线审批系统，可以快速的将公司的各类审批业务转换为可严格执行的电子流程。常见的审批业务包括：出差申请、差旅报销、请假销假、物品采购、付款申请、固定资产报废、会议室预约、退库管理、客服投诉、工作报告等均可通过审批王处理。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            
  <link href="/website/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet"/>

  <script src="/website/libs/jquery.min.js" type="text/javascript"></script>
            
  <link href="/website/libs/semantic.css" rel="stylesheet"/>
  <script src="/website/libs/semantic.js" type="text/javascript"></script>

  <link href="/website/libs/spacelab.min.css" rel="stylesheet"/>
  <link href="/website/libs/spacelab.fix.css" rel="stylesheet"/>
  <link href="/website/css/odoo/website.css" id="website_css" rel="stylesheet"/>
  <link href="/website/css/steedos.css" id="steedos_css" rel="stylesheet"/>

  <style type="text/css">
    html, body {
      background-color: #f2f2f2;
    }
    .top.secondary.menu {
      margin-top: 1em;
    }
  </style>

  <script>

  $(document)
    .ready(function() {
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });
      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active');
      });

    });
  </script>
</head>
<body>

<div class="ui one column grid">
  <div class="mobile only column"> 
    <div class="ui fixed inverted menu" id="topbar">
      <div class="ui dropdown item">
        <i class="sidebar icon"></i> 华炎云
        <div class="ui menu">
          <%= link_to_unless_current "审批王", "/cn/workflow", allow_recursive: true %>
          <%= link_to_unless_current "享聊", "/cn/chat", allow_recursive: true %>
          <%= link_to_unless_current "云盘", "/cn/drive", allow_recursive: true %>
        </div>
      </div>
      <div class="right menu">
        <a class="item" href="#"><i class="phone icon"></i>400-820-1612</a>
      </div>
    </div>

  </div>
  <div class="computer tablet only column"> 
    <div class="ui fixed inverted menu" id="topbar">
        <a class="header item" href="/cn/"><i class="cloud icon"></i></a>
        <%= link_to_unless_current "审批王", "/cn/workflow", allow_recursive: true %>
        <%= link_to_unless_current "享聊", "/cn/chat", allow_recursive: true %>
        <%= link_to_unless_current "云盘", "/cn/drive", allow_recursive: true %>
        <div class="right menu">
          <a class="item" href="#"><i class="phone icon"></i>400-820-1612</a>
          <!-- <a class="item" href="http://chat.steedos.com/channel/steedos-support" target="_blank">在线客服</a> -->
        </div>
    </div>
  </div>
</div>


<div class="ui one column grid">
  <div class="mobile only column"> 

    <div class="ui top secondary menu" id="navbar" style="border-bottom: 1px solid #CCC">

      <a class="header item" href="/cn/workflow">
        <h2 class="ui header" style="font-size: 1.4em">
          <img src="/website/img/workflow/AppIcon76x76.png" class="ui mini image">
          <div class="ui content">审批王</div>
        </h2>
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          <i class="chevron down icon"></i>
          <div class="ui menu">
              <%= link_to_unless_current "特色", "/cn/workflow/" %>
              <%= link_to_unless_current "案例", "/cn/workflow/casestudy", allow_recursive: true %>
              <%= link_to_unless_current "报价", "/cn/workflow/pricing", allow_recursive: true %>
              <%= link_to_unless_current "下载", "/cn/workflow/downloads", allow_recursive: true %>
              <a class="item" target="_blank" href="/cn/help/workflow3.0">帮助</a>
              <div class="item">
                <a class="ui primary button" target="_blank" href="/steedos/sign-in">登录</a>
              </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="computer tablet only column"> 

    <div class="ui top secondary pointing menu" id="navbar">
      <a class="header item" href="/cn/workflow">
        <h2 class="ui header" style="font-size: 1.4em">
          <img src="/website/img/workflow/AppIcon76x76.png" class="ui mini image">
          <div class="ui content">审批王</div>
        </h2>
      </a>
      <div class="right menu">
        <%= link_to_unless_current "特色", "/cn/workflow/" %>
        <%= link_to_unless_current "案例", "/cn/workflow/casestudy", allow_recursive: true %>
        <%= link_to_unless_current "报价", "/cn/workflow/pricing", allow_recursive: true %>
        <%= link_to_unless_current "下载", "/cn/workflow/downloads", allow_recursive: true %>
        <a class="item" target="_blank" href="/cn/help/workflow3.0">帮助</a>
        <div class="item">
          <a class="ui primary button" target="_blank" href="/steedos/sign-in">登录</a>
        </div>
      </div>

    </div>

  </div>
</div>


  <%= yield %>


<div class="ui inverted vertical footer segment" style="margin: 3em 0em 0em; padding: 3em 0em;">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <h4 class="ui inverted header">联系我们</h4>
          <div class="ui inverted link list">
            <!-- <a class="item" href="http://chat.steedos.com/channel/steedos-support" target="_blank">在线客服</a> -->
            <span class="item">热线：400-820-1612</span>
            <span class="item">邮箱：support@steedos.com</span>
            <span class="item">QQ：1471093381</span>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">下载客户端</h4>
          <div class="ui inverted link list">
            <a class="item" href="http://itunes.apple.com/cn/app/steedos-workflow/id686408407" target="_blank">iPhone / iPad</a>
            <a class="item" href="http://oss.steedos.com/apps/workflow/android/workflow.apk" target="_blank">Android</a>
            <a class="item" href="http://oss.steedos.com/apps/steedos/windows/steedos-desktop.exe" target="_blank">Windows</a>
            <a class="item" href="http://oss.steedos.com/apps/steedos/mac/steedos.dmg" target="_blank">Mac</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">关于审批王</h4>
          <div class="ui inverted link list">
            <span class="item">审批王是全新的企业级在线审批系统，可以快速的将公司的各类审批业务转换为可严格执行的电子流程。出差申请、差旅报销、请假销假、物品采购、付款申请、固定资产报废、会议室预约、退库管理、客服投诉、工作报告等均可通过审批王处理。</span>

          </div>
          <div class="ui horizontal inverted small divided link list">
            <a class="ui item" href="/cn/workflow/" >中文版 </a>
            <a class="ui item" href="/us/workflow/">English</a>
          </div>
          
        </div>
      </div>

      <div class="ui inverted section divider"></div>

      <div class="ui horizontal inverted small divided link list">
          <span>© 华炎软件. 保留所有权利. </span>
          <a class="ui item" href="/cn/legal/terms/" target="_steedos_terms">条款与约定</a>
          <a class="ui item" href="/cn/legal/privacy/" target="_steedos_privacy">隐私保护</a>
      </div>
    </div>
</div>



</body>
</html>
