body {
    margin: 0;
    padding: 0;
}

#globalheader ul,#globalheader ol,#globalheader li,#globalheader dl,#globalheader dt,#globalheader dd,#globalheader h1,#globalheader h2,#globalheader h3,#globalheader h4,#globalheader h5,#globalheader h6,#globalheader p,#globalheader figure,#globalheader pre,#globalheader abbr,#globalheader form,#globalheader fieldset,#globalheader input,#globalheader legend {
    margin: 0;
    padding: 0;
}

#globalheader ul,#globalheader li,#globalheader p,#globalheader h4,#globalheader h5 {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    top: 8px;
}

#globalheader img {
    border: none;
}

#globalheader header,#globalheader nav,#globalheader figure,#globalheader figcaption {
    display: block;
}

#globalheader button {
    font: inherit;
    vertical-align: middle;
    box-shadow: none;
}

#globalheader button,#globalheader input {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

@media print {
    #globalheader {
        display: none;
    }
}

#globalheader .gh-text-replace {
    color: white;
    font-size: 14px;
}

#globalheader {
    position: relative;
    z-index: 9999;
    min-width: 1010px;
    height: 2.55556em;
    /* margin: 0 auto 1em; */
    background: #444;
    background: rgba(0,0,0,0.6);
    font-size: 18px;
}

@media only screen and (max-device-width: 767px) {
    #globalheader {
        min-width: 100%;
        width: 100%;
        height: 2.66667em;
        background: rgba(0,0,0,0.6);
        text-align: left;
        display: none;
    }
}

#globalheader .gh-content {
    width: 980px;
    margin: 0 auto;
}

@media only screen and (max-device-width: 767px) {
    #globalheader .gh-content {
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-device-width: 767px) {
    #globalheader .gh-nav {
        position: absolute;
        z-index: 100;
        height: 0;
        width: 100%;
        top: -2.66667em;
        left: 0;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background: rgba(0,0,0,0.6);
        -webkit-transition: top 0s 0.4s,height 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99),z-index 0.1s 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: top 0s 0.4s,height 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99),z-index 0.1s 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    #globalheader .gh-nav:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 0.05556em;
        background: rgba(255,255,255,0.2);
    }
}

.gh-show-nav #globalheader .gh-nav {
    top: 2.66667em;
}

@media only screen and (max-device-width: 767px) {
    .gh-show-nav #globalheader .gh-nav {
        z-index: 300;
        height: 2.66667em;
        -webkit-transition: height 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99),z-index 0.1s 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: height 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99),z-index 0.1s 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }
}

@media only screen and (max-device-width: 767px) {
    .gh-immediate #globalheader .gh-nav {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
}

@media only screen and (max-device-width: 680px) {
    #globalheader .gh-nav-view {
        width: 102%;
        white-space: nowrap;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media only screen and (orientation: portrait) and (max-device-width: 767px) {
    #globalheader .gh-nav-view {
        display: inline-block;
    }
}

#globalheader .gh-nav-list {
    position: relative;
    z-index: 1;
    /*
    width: 1000px;
    margin-left: -10px;
    margin-right: -10px;
    */
    margin-left: 10px;
    margin-right: 10px;
    height: 2.55556em;
    cursor: default;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#globalheader .gh-nav-list:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#globalheader.gh-oldie .gh-nav-list:after {
    display: inline;
    zoom: 1;
}

@media only screen and (max-device-width: 767px) {
    #globalheader .gh-nav-list {
        min-width: 100%;
        width: auto;
        height: 2.66667em;
        padding-bottom: 0.44444em;
        margin: 0;
    }
}

@media only screen and (max-device-width: 680px) {
    #globalheader .gh-nav-list:after {
        display: none;
    }
}

#globalheader .gh-nav-list .gh-tab {
    margin: 0;
    list-style-type: none;
    height: 1.55556em;
    vertical-align: top;
    display: inline-block;
}

#globalheader.gh-oldie .gh-nav-list .gh-tab {
    *display: inline;
    zoom: 1;
}

#globalheader.gh-oldie .gh-nav-list .gh-tab.gh-tab-apple .gh-tab-link {
    padding: 0;
    *padding: 0 20px 0 0;
}

@media only screen and (max-device-width: 767px) {
    #globalheader .gh-nav-list .gh-tab {
        height: 2.66667em;
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }

    #globalheader .gh-nav-list .gh-tab.gh-tab-apple {
        display: none;
    }

    #globalheader .gh-nav-list .gh-tab:last-child {
        padding-right: 0.44444em;
    }

    #globalheader .gh-nav-list .gh-tab:nth-child(2) .gh-tab-link {
        margin-left: 1em;
    }
}

@media only screen and (max-device-width: 767px) {
    #globalheader .gh-tab {
        opacity: 0;
        -webkit-transform: translate3d(-8.33333em, 0, 0);
        -ms-transform: translate3d(-8.33333em, 0, 0);
        transform: translate3d(-8.33333em, 0, 0);
        -webkit-transition: opacity 0.2s 0 ease, -webkit-transform 0s 0.4s ease;
        transition: opacity 0.2s 0 ease, transform 0s 0.4s ease;
    }
}

@media only screen and (max-device-width: 767px) {
    #globalheader.gh-nav-reveal .gh-tab {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: opacity 0.2s 0.2s ease,-webkit-transform 0.4s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: opacity 0.2s 0.2s ease,transform 0.4s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

#globalheader .gh-selected-tab .gh-tab-link{
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

#globalheader .gh-tab-link {
    position: relative;
    display: block;
    opacity: 1;
    height: 1.55556em;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 1.11111em;
    background-size: auto 20px\0;
    outline-offset: -0.22222em;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#globalheader.gh-oldie .gh-tab-link {
    padding-right: 0;
    *padding: 0 34px 0 0;
    *overflow: hidden;
}

#globalheader .gh-tab-link:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

#globalheader .gh-tab-link:hover .gh-tab-inner {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

#globalheader .gh-tab-link .gh-tab-inner {
    position: relative;
    display: block;
}

#globalheader.gh-oldie .gh-tab-link .gh-tab-inner {
    height: 2.55556em;
    cursor: pointer;
    width: 130px;
    margin-left: -65px;
    left: 50%;
    background-repeat: no-repeat;
    background-position: 0 50%;
}


#globalheader .gh-menu {
    display: none;
    z-index: 200;
}